body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #f8fafc;
}

.navbar {
  background: #0f172a;
  color: white;
  padding: 15px 40px;
  display: flex;
  justify-content: space-between;
}

.hero {
  text-align: center;
  padding: 60px 20px;
}

.hero h1 {
  font-size: 36px;
  color: #0f172a;
}

.hero p {
  color: #475569;
  max-width: 600px;
  margin: auto;
}

.card {
  background: white;
  max-width: 450px;
  margin: auto;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.footer {
  margin-top: 60px;
  text-align: center;
  padding: 20px;
  background: #0f172a;
  color: white;
}
